.backwrap {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

/* Shapes & Animation
*/
.back-shapes {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.back-shapes img {
  opacity: 0.2;
  position: absolute;
  width: 1.5%;
}

.floating {
  position: absolute;
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 15s;
  -webkit-animation-duration: 15s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}
.floating.circle {/* youtube */
  display: inline-block;
  width: 39px;
  height: 39px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KCTxwYXRoIGZpbGw9IiM5YzljOWMiIGQ9Im0xMCAxNWw1LjE5LTNMMTAgOXptMTEuNTYtNy44M2MuMTMuNDcuMjIgMS4xLjI4IDEuOWMuMDcuOC4xIDEuNDkuMSAyLjA5TDIyIDEyYzAgMi4xOS0uMTYgMy44LS40NCA0LjgzYy0uMjUuOS0uODMgMS40OC0xLjczIDEuNzNjLS40Ny4xMy0xLjMzLjIyLTIuNjUuMjhjLTEuMy4wNy0yLjQ5LjEtMy41OS4xTDEyIDE5Yy00LjE5IDAtNi44LS4xNi03LjgzLS40NGMtLjktLjI1LTEuNDgtLjgzLTEuNzMtMS43M2MtLjEzLS40Ny0uMjItMS4xLS4yOC0xLjljLS4wNy0uOC0uMS0xLjQ5LS4xLTIuMDlMMiAxMmMwLTIuMTkuMTYtMy44LjQ0LTQuODNjLjI1LS45LjgzLTEuNDggMS43My0xLjczYy40Ny0uMTMgMS4zMy0uMjIgMi42NS0uMjhjMS4zLS4wNyAyLjQ5LS4xIDMuNTktLjFMMTIgNWM0LjE5IDAgNi44LjE2IDcuODMuNDRjLjkuMjUgMS40OC44MyAxLjczIDEuNzMiIC8+Cjwvc3ZnPg==");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
}
.floating.square { /* youtube outline */
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KCTxwYXRoIGZpbGw9IiM5YzljOWMiIGZpbGwtb3BhY2l0eT0iMCIgZD0iTTEyIDExTDEyIDEyTDEyIDEzeiI+CgkJPGFuaW1hdGUgZmlsbD0iZnJlZXplIiBhdHRyaWJ1dGVOYW1lPSJkIiBiZWdpbj0iMS4wMnMiIGR1cj0iMC4zNHMiIHZhbHVlcz0iTTEyIDExTDEyIDEyTDEyIDEzejtNMTAgOC41TDE2IDEyTDEwIDE1LjV6IiAvPgoJCTxzZXQgZmlsbD0iZnJlZXplIiBhdHRyaWJ1dGVOYW1lPSJmaWxsLW9wYWNpdHkiIGJlZ2luPSIxLjAycyIgdG89IjEiIC8+Cgk8L3BhdGg+Cgk8cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiM5YzljOWMiIHN0cm9rZS1kYXNoYXJyYXk9IjY0IiBzdHJva2UtZGFzaG9mZnNldD0iNjQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTIgNWM5IDAgOSAwIDkgN2MwIDcgMCA3IC05IDdjLTkgMCAtOSAwIC05IC03YzAgLTcgMCAtNyA5IC03WiI+CgkJPGFuaW1hdGUgZmlsbD0iZnJlZXplIiBhdHRyaWJ1dGVOYW1lPSJzdHJva2UtZGFzaG9mZnNldCIgZHVyPSIxLjAycyIgdmFsdWVzPSI2NDswIiAvPgoJPC9wYXRoPgo8L3N2Zz4=");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
}
.floating.triangle { /* film */
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KCTxwYXRoIGZpbGw9IiM5YzljOWMiIGQ9Ik0yIDMuOTkzQTEgMSAwIDAgMSAyLjk5MiAzaDE4LjAxNmMuNTQ4IDAgLjk5Mi40NDUuOTkyLjk5M3YxNi4wMTRhMSAxIDAgMCAxLS45OTIuOTkzSDIuOTkyQS45OTMuOTkzIDAgMCAxIDIgMjAuMDA3ek04IDV2MTRoOFY1ek00IDV2MmgyVjV6bTE0IDB2MmgyVjV6TTQgOXYyaDJWOXptMTQgMHYyaDJWOXpNNCAxM3YyaDJ2LTJ6bTE0IDB2Mmgydi0yek00IDE3djJoMnYtMnptMTQgMHYyaDJ2LTJ6IiAvPgo8L3N2Zz4=");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
}
.floating.cross { /* time */
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KCTxnIGZpbGw9Im5vbmUiPgoJCTxwYXRoIGQ9Im0xMi41OTMgMjMuMjU4bC0uMDExLjAwMmwtLjA3MS4wMzVsLS4wMi4wMDRsLS4wMTQtLjAwNGwtLjA3MS0uMDM1cS0uMDE2LS4wMDUtLjAyNC4wMDVsLS4wMDQuMDFsLS4wMTcuNDI4bC4wMDUuMDJsLjAxLjAxM2wuMTA0LjA3NGwuMDE1LjAwNGwuMDEyLS4wMDRsLjEwNC0uMDc0bC4wMTItLjAxNmwuMDA0LS4wMTdsLS4wMTctLjQyN3EtLjAwNC0uMDE2LS4wMTctLjAxOG0uMjY1LS4xMTNsLS4wMTMuMDAybC0uMTg1LjA5M2wtLjAxLjAxbC0uMDAzLjAxMWwuMDE4LjQzbC4wMDUuMDEybC4wMDguMDA3bC4yMDEuMDkzcS4wMTkuMDA1LjAyOS0uMDA4bC4wMDQtLjAxNGwtLjAzNC0uNjE0cS0uMDA1LS4wMTgtLjAyLS4wMjJtLS43MTUuMDAyYS4wMi4wMiAwIDAgMC0uMDI3LjAwNmwtLjAwNi4wMTRsLS4wMzQuNjE0cS4wMDEuMDE4LjAxNy4wMjRsLjAxNS0uMDAybC4yMDEtLjA5M2wuMDEtLjAwOGwuMDA0LS4wMTFsLjAxNy0uNDNsLS4wMDMtLjAxMmwtLjAxLS4wMXoiIC8+CgkJPHBhdGggZmlsbD0iIzljOWM5YyIgZD0iTTEyIDJjNS41MjMgMCAxMCA0LjQ3NyAxMCAxMHMtNC40NzcgMTAtMTAgMTBTMiAxNy41MjMgMiAxMlM2LjQ3NyAyIDEyIDJtMCA0YTEgMSAwIDAgMC0xIDF2NWExIDEgMCAwIDAgLjI5My43MDdsMyAzYTEgMSAwIDAgMCAxLjQxNC0xLjQxNEwxMyAxMS41ODZWN2ExIDEgMCAwIDAtMS0xIiAvPgoJPC9nPgo8L3N2Zz4=");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
}

@keyframes floating {
  0% {
    transform: translateY(300px) rotate(0deg);
    opacity: 0;
    scale: 2;
  }
  100% {
    transform: translateY(-1000px) rotate(360deg);
    opacity: 0.5;
    scale: 1;
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(300px);
    opacity: 0;
    scale: 2;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    opacity: 0.5;
    scale: 1;
  }
}