@import "tailwindcss";
@plugin "@iconify/tailwind4";
@import "tailwindcss-animated";

@plugin "daisyui" {
    themes: pastel --default, bumblebee-dark --prefersdark;
}


@plugin "daisyui/theme" {
  name: "bumblebee-dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: oklch(81% 0.111 293.571);
  --color-primary-content: oklch(28% 0.141 291.089);
  --color-secondary: oklch(83% 0.128 66.29);
  --color-secondary-content: oklch(26% 0.079 36.259);
  --color-accent: oklch(90% 0.182 98.111);
  --color-accent-content: oklch(28% 0.066 53.813);
  --color-neutral: oklch(37% 0.034 259.733);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

    
@theme {
    --font-sans: 'Noto Sans Thai Looped', sans-serif;
}

@keyframes fade-in-bounceup {
    0% {
        opacity: 0;
        transform: translate3d(0%, 100%, 0);
    }

    33% {
        opacity: 0.5;
        transform: translate3d(0%, 0%, 0);
    }

    66% {
        opacity: 0.7;
        transform: translate3d(0%, 20%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@utility animate-fade-in-bounceup {
    animation: fade-in-bounceup 1s ease-in-out forwards;
}

body {
    font-family: var(--font-sans);
}

/* Animated Blob CSS */
.animated-blob-primary {
    position: absolute;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: blob-morph 20s ease-in-out infinite alternate,
        blob-move 30s ease-in-out infinite alternate;
    /* blob-color-primary 30s ease-in-out infinite alternate; */
    background-color: var(--color-primary);
    z-index: -1;
    opacity: 0.6;
    transform: translate(-50%, -50%);
}

.animated-blob-secondary {
    position: absolute;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: blob-morph 20s ease-in-out infinite alternate,
        blob-move 30s ease-in-out infinite alternate;
    /* blob-color-secondary 30s ease-in-out infinite alternate; */
    background-color: var(--color-secondary);
    z-index: -1;
    opacity: 0.6;
    transform: translate(-50%, -50%);
}

@keyframes blob-morph {

    0%,
    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    33% {
        border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    }

    66% {
        border-radius: 30% 70% 70% 30% / 70% 30% 70% 30%;
    }
}

@keyframes blob-move {

    0%,
    100% {
        transform: translate(-50%, -50%);
    }

    25% {
        transform: translate(-60%, -40%);
    }

    50% {
        transform: translate(-40%, -60%);
    }

    75% {
        transform: translate(-70%, -30%);
    }
}

@keyframes blob-color-primary {

    0%,
    100% {
        background: var(--color-primary);
    }

    33% {
        background: #f3f1e4;
    }

    66% {
        background: #e1a012
    }
}

@keyframes blob-color-secondary {

    0%,
    100% {
        background: var(--color-secondary);
    }

    33% {
        background: #323c3b;
    }

    66% {
        background: #f3f1e4
    }
}

@keyframes heroImageFloat {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

#hero-image-container {
    animation: heroImageFloat 5s ease-in-out infinite alternate;
}

/* App View and Transitions */
#app-view-section {
    transition: opacity 0.7s ease-in-out;
}

#hero-section {
    transition: all 0.5s ease-in-out;
}

header {
    transition: transform 0.3s ease-in-out;
}

@keyframes appear {
    0%,100% {
        opacity: 0;
        /* scale:1.2; */
        left: 0;
        /* transform: translateX(-100px); */
        transform: translateY(100px);
    }

    15% ,90% {
        opacity: 1;
        /* scale:1; */
        left: 0;
        /* transform: translateX(0); */
        transform: translateY(0);
    }
}

@utility animate-appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 exit 100%;
}