@import "tailwindcss";
@plugin "@iconify/tailwind4";
@import "tailwindcss-animated";

@plugin "daisyui" {
    themes: youtamp-light --default, youtamp-dark --prefersdark;
}


@plugin "daisyui/theme" {
  name: "youtamp-light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(85% 0.199 91.936);
  --color-primary-content: oklch(42% 0.095 57.708);
  --color-secondary: oklch(75% 0.183 55.934);
  --color-secondary-content: oklch(40% 0.123 38.172);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(37% 0.01 67.558);
  --color-neutral-content: oklch(92% 0.003 48.717);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(39% 0.09 240.876);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(39% 0.141 25.723);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
  --footer-bg-image: url('/static/svg/layered-waves-haikei.svg');
  --body-bg-image: url('/static/svg/blob-scene-haikei.svg');
}


@plugin "daisyui/theme" {
  name: "youtamp-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(30.857% 0.023 264.149);
  --color-base-200: oklch(28.036% 0.019 264.182);
  --color-base-300: oklch(26.346% 0.018 262.177);
  --color-base-content: oklch(82.901% 0.031 222.959);
  --color-primary: oklch(86.133% 0.141 139.549);
  --color-primary-content: oklch(17.226% 0.028 139.549);
  --color-secondary: oklch(73.375% 0.165 35.353);
  --color-secondary-content: oklch(14.675% 0.033 35.353);
  --color-accent: oklch(90% 0.182 98.111);
  --color-accent-content: oklch(14.845% 0.026 311.379);
  --color-neutral: oklch(24.731% 0.02 264.094);
  --color-neutral-content: oklch(82.901% 0.031 222.959);
  --color-info: oklch(86.078% 0.142 206.182);
  --color-info-content: oklch(17.215% 0.028 206.182);
  --color-success: oklch(86.171% 0.142 166.534);
  --color-success-content: oklch(17.234% 0.028 166.534);
  --color-warning: oklch(86.163% 0.142 94.818);
  --color-warning-content: oklch(17.232% 0.028 94.818);
  --color-error: oklch(82.418% 0.099 33.756);
  --color-error-content: oklch(16.483% 0.019 33.756);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
  --footer-bg-image: url('/static/svg/layered-waves-haikei-dark.svg');
  --body-bg-image: url('/static/svg/blob-scene-haikei-dark.svg');
}



    
@theme {
    --font-sans: 'Noto Sans Thai Looped', sans-serif;
}

@keyframes fade-in-bounceup {
    0% {
        opacity: 0;
        transform: translate3d(0%, 100%, 0);
    }

    33% {
        opacity: 0.5;
        transform: translate3d(0%, 0%, 0);
    }

    66% {
        opacity: 0.7;
        transform: translate3d(0%, 20%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@utility animate-fade-in-bounceup {
    animation: fade-in-bounceup 1s ease-in-out forwards;
}

body {
    font-family: var(--font-sans);
}

/* Animated Blob CSS */
.animated-blob-primary {
    position: absolute;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: blob-morph 20s ease-in-out infinite alternate,
        blob-move 30s ease-in-out infinite alternate;
    /* blob-color-primary 30s ease-in-out infinite alternate; */
    background-color: var(--color-primary);
    z-index: -1;
    opacity: 0.6;
    transform: translate(-50%, -50%);
}

.animated-blob-secondary {
    position: absolute;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    animation: blob-morph 20s ease-in-out infinite alternate,
        blob-move 30s ease-in-out infinite alternate;
    /* blob-color-secondary 30s ease-in-out infinite alternate; */
    background-color: var(--color-secondary);
    z-index: -1;
    opacity: 0.6;
    transform: translate(-50%, -50%);
}

@keyframes blob-morph {

    0%,
    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }

    33% {
        border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
    }

    66% {
        border-radius: 30% 70% 70% 30% / 70% 30% 70% 30%;
    }
}

@keyframes blob-move {

    0%,
    100% {
        transform: translate(-50%, -50%);
    }

    25% {
        transform: translate(-60%, -40%);
    }

    50% {
        transform: translate(-40%, -60%);
    }

    75% {
        transform: translate(-70%, -30%);
    }
}

@keyframes blob-color-primary {

    0%,
    100% {
        background: var(--color-primary);
    }

    33% {
        background: #f3f1e4;
    }

    66% {
        background: #e1a012
    }
}

@keyframes blob-color-secondary {

    0%,
    100% {
        background: var(--color-secondary);
    }

    33% {
        background: #323c3b;
    }

    66% {
        background: #f3f1e4
    }
}

@keyframes heroImageFloat {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

#hero-image-container {
    animation: heroImageFloat 5s ease-in-out infinite alternate;
}

/* App View and Transitions */
#app-view-section {
    transition: opacity 0.7s ease-in-out;
}

#hero-section {
    transition: all 0.5s ease-in-out;
}

header {
    transition: transform 0.3s ease-in-out;
}

@keyframes appear {
    0%,100% {
        opacity: 0;
        /* scale:1.2; */
        left: 0;
        /* transform: translateX(-100px); */
        transform: translateY(100px);
    }

    15% ,90% {
        opacity: 1;
        /* scale:1; */
        left: 0;
        /* transform: translateX(0); */
        transform: translateY(0);
    }
}

@utility animate-appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 exit 100%;
}

body:not(.app-view-active) #app-view-section {
    display: none;
}

body.app-view-active #hero-section {
    display: none;
}
