<!-- Input Section -->
<div input-section>
    <div class="relative z-10">
        <!-- URL Input -->
        <label class="input url-input input-primary input-lg w-full rounded-full pr-17 validator mb-4">
            <svg class="h-[2em] opacity-50 text-primary-content" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24">
                <path fill="currentColor" fill-opacity="0" d="M12 11L12 12L12 13z">
                    <animate fill="freeze" attributeName="d" begin="0.6s" dur="0.2s"
                        values="M12 11L12 12L12 13z;M10 8.5L16 12L10 15.5z" />
                    <set fill="freeze" attributeName="fill-opacity" begin="0.6s" to="1" />
                </path>
                <path fill="none" stroke="currentColor" stroke-dasharray="64" stroke-dashoffset="64"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 5c9 0 9 0 9 7c0 7 0 7 -9 7c-9 0 -9 0 -9 -7c0 -7 0 -7 9 -7Z">
                    <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="64;0" />
                </path>
            </svg>
            <input type="url" data-youtube-url-input
                pattern="^(https?:\/\/(?:www\.|m\.)?(?:youtube\.com|youtu\.be)\/(?:watch\?v=|embed\/|v\/|)([^\s&]+))$"
                value="https://www.youtube.com/watch?v=4Jb35R2MZ_c"
                placeholder="https://www.youtube.com/watch?v=EclZTQRX2-M" required>
            <button
                class="btn btn-primary btn-circle btn-xl hover:btn-neutral hover:scale-110 hover:border-0 absolute right-2 transition delay-150 duration-300 ease-in-out"
                data-generate-button>
                ✒️
            </button>

        </label>

        <!-- Preview Card -->
        <div class="flex absolute card card-xs card-side preview-card bg-base-200/80 sm:scale-75 sm:hover:scale-100 hover:bg-base-200 text-base-content shadow-md transition-all duration-200 ease-in-out
    {% if section == 'appview' %} 
         top-12 right-0 lg:left-1/2 lg:transform lg:-translate-x-1/2
    {% else %}
        md:left-1/2 w-full md:-translate-x-1/2
        bottom-full transform -translate-y-2 max-h-20 sm:max-h-32
    {% endif %}
        overflow-hidden" >
            <figure class="p-0 md:p-2 hidden sm:flex sm:max-w-28 md:max-w-32">
                <img src="" alt="Thumbnail" data-video-thumbnail class="skeleton rounded-2xl" />
            </figure>
            <div class="card-body relative ml-0">
                <div class="sm:card-title truncate sm:text-wrap sm:max-w-full" data-video-title>
                    <div class="skeleton h-4 w-80"></div>
                </div>
                <div data-video-author class="truncate text-base sm:text-wrap sm:max-w-full m-0">
                    <div class="skeleton h-4 w-80"></div>
                </div>
                <div class="card-actions absolute bottom-1 right-2">
                    <button class="btn btn-circle btn-xs btn-ghost btn-close">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional Input Section (Collapsible) -->
    <div class="collapse collapse-arrow">
        <input type="checkbox" class="peer" />
        <div
            class="collapse-title peer-checked:bg-primary peer-checked:text-primary-content after:start-5 after:end-auto pe-4 ps-12">
            ตัวเลือกเพิ่มเติม
        </div>
        <div class="collapse-content space-y-4 peer-checked:bg-primary">
            <!-- Additional Details -->
            <fieldset class="fieldset" data-optional-input-content>
                <legend class="fieldset-legend text-sm">รายละเอียดเพิ่มเติม</legend>
                <textarea data-additional-details class="textarea textarea-primary w-full text-sm" rows="4"
                    placeholder="เช่น อยากได้ timestamp สัก 10 รายการ, เจาะจงเฉพาะส่วนที่เป็นสาระหลัก"></textarea>
            </fieldset>
            <!-- Language Selection -->
            <fieldset class="fieldset">
                <legend class="fieldset-legend text-sm">
                    ภาษาผลลัพธ์
                </legend>
                <select data-language-select class="select select-primary">
                    <option value="auto">ตามภาษาของวิดีโอ (Default)</option>
                    <option value="th">ไทย (TH)</option>
                    <option value="en">อังกฤษ (EN)</option>
                </select>
            </fieldset>
        </div>
    </div>
</div>