<!-- Input Section -->
<div input-section>
    <div class="relative z-10">
        <!-- URL Input -->
        <label class="input url-input input-primary input-lg w-full rounded-full validator mb-4">
            <svg class="h-[2em] opacity-80 text-primary" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24">
                <path fill="currentColor" fill-opacity="0" d="M12 11L12 12L12 13z">
                    <animate fill="freeze" attributeName="d" begin="0.6s" dur="0.2s"
                        values="M12 11L12 12L12 13z;M10 8.5L16 12L10 15.5z" />
                    <set fill="freeze" attributeName="fill-opacity" begin="0.6s" to="1" />
                </path>
                <path fill="none" stroke="currentColor" stroke-dasharray="64" stroke-dashoffset="64"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 5c9 0 9 0 9 7c0 7 0 7 -9 7c-9 0 -9 0 -9 -7c0 -7 0 -7 9 -7Z">
                    <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="64;0" />
                </path>
            </svg>
            <input type="url" data-youtube-url-input
                pattern="^(https?:\/\/(?:www\.|m\.)?(?:youtube\.com|youtu\.be)\/(?:watch\?v=|embed\/|v\/|)([^\s&]+))$"
                placeholder="https://www.youtube.com/watch?v=VIDEO_ID" required>
            <button
                class="btn btn-accent btn-circle btn-xl hover:btn-neutral hover:scale-110 hover:border-0 absolute right-2 transition delay-150 duration-300 ease-in-out tooltip tooltip-left"
                data-tip-i18n-key="generate_button_tooltip" data-generate-button>
                <span class="icon-[ph--magic-wand-fill] text-3xl"></span>
                <span class="loading loading-dots loading-lg hidden"></span>
            </button>

        </label>

        <!-- Preview Card -->
        <div class="flex absolute card card-xs card-side preview-card bg-base-200/80 sm:scale-75 sm:hover:scale-100 hover:bg-base-200 text-base-content shadow-md transition-all duration-200 ease-in-out
    {% if section == 'appview' %} 
         top-12 right-0 lg:left-1/2 lg:transform lg:-translate-x-1/2
    {% else %}
        lg:left-1/2 w-full lg:-translate-x-1/2
        bottom-full transform -translate-y-2 max-h-20 sm:max-h-32
    {% endif %}
        overflow-hidden">
            <figure class="p-0 lg:p-2 hidden sm:flex sm:max-w-28 lg:max-w-32">
                <img src="" alt="Thumbnail" data-video-thumbnail class="skeleton rounded-2xl" />
            </figure>
            <div class="card-body relative ml-0">
                <div class="sm:card-title truncate sm:text-wrap sm:max-w-full" data-video-title>
                    <div class="skeleton h-4 w-80"></div>
                </div>
                <div data-video-author class="truncate text-base sm:text-wrap sm:max-w-full m-0">
                    <div class="skeleton h-4 w-80"></div>
                </div>
                <div class="card-actions absolute bottom-1 right-2">
                    <button class="btn btn-circle btn-xs btn-ghost btn-close">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional Input Section (Collapsible) -->
    <div class="collapse collapse-arrow">
        <input type="checkbox" class="peer" />
        <div
            class="collapse-title peer-checked:bg-base-200 peer-checked:text-base-content after:start-5 after:end-auto pe-4 ps-12" data-i18n-key="additional_options">
        </div>
        <div class="collapse-content space-y-4 peer-checked:bg-base-200 shadow-2xl">
            <!-- Additional Details -->
            <fieldset class="fieldset">
                <legend class="fieldset-legend text-sm"><span data-i18n-key="additional_details_legend"></span><div class="tooltip tooltip-bottom tooltip-xs lg:tooltip-right" data-tip-i18n-key="additional_details_tooltip">
                        <span class="text-base-content opacity-50 icon-[icon-park-twotone--info]"></span></div></legend>
                <textarea data-additional-details class="textarea w-full text-sm" rows="4"
                    placeholder-i18n-key="additional_details_placeholder"></textarea>
            </fieldset>
            <!-- Language Selection -->
            <fieldset class="fieldset">
                <legend class="fieldset-legend text-sm">
                    <span data-i18n-key="language_select_legend"></span><div class="tooltip tooltip-xs tooltip-bottom lg:tooltip-right" data-tip-i18n-key="language_select_tooltip">
                        <span class="text-base-content opacity-50 icon-[icon-park-twotone--info]"></span></div>
                </legend>
                <select data-language-select class="select">
                    <option value="auto" data-i18n-key="lang_auto"></option>
                    <option value="th" data-i18n-key="lang_th_option"></option>
                    <option value="en" data-i18n-key="lang_en_option"></option>
                </select>
            </fieldset>
        </div>
    </div>
</div>