<!DOCTYPE html>
<html lang="th" data-theme="pastel">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtamp</title>
    <link href="./static/dist/output.css" rel="stylesheet">
    <!-- Font Import -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100..900&display=swap');
    </style>

</head>

<body class="overflow-x-hidden font-sans">
{% include '_timestamp_display.html' %}

<script src="/static/app.js"></script>
</body>

</html>