<!DOCTYPE html>
<html lang="th" data-theme="youtamp-light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtamp</title>
    <link href="./static/dist/output.css" rel="stylesheet">
    <!-- Font Import -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100..900&display=swap');
    </style>

</head>

<body class="overflow-x-hidden font-sans">

    <!-- Footer Demonstration -->
    <footer class="footer z-20 px-2 py-4 bg-base-300 text-base-content bg-[url('/static/svg/layered-waves-haikei.svg')] bg-cover bg-center">
        <div class="container mx-auto p-8 text-white">
            <h2 class="text-2xl font-bold">Footer Content</h2>
            <p>This text is placed over the SVG background.</p>
        </div>
    </footer>

<script src="/static/js/app.js" type="module"></script>
</body>

</html>