
<ul id="timestamp-display-content" class="timeline timeline-vertical">
    <li class="animate-jump-in animate-once animate-ease-in-out animate-play animate-delay-75">
        <div class="timeline-start timeline-box p-0">
            <input type="text" placeholder="iMac" class="input input-ghost text-right" style="field-sizing: content;" />
        </div>
        <div class="timeline-middle">
            <div class="btn btn-sm btn-primary">00:00</div>
        </div>
        <hr class="bg-primary" />
    </li>
    <li class="animate-jump-in animate-once animate-ease-in-out animate-play animate-delay-100">
        <hr class="bg-primary" />
        <div class="timeline-middle">
            <div class="btn btn-sm btn-secondary">00:00</div>
        </div>
        <div class="timeline-end timeline-box p-0"><input type="text" placeholder="iMac" class="input input-ghost"
                style="field-sizing: content;" /></div>
        <hr class="bg-secondary" />
    </li>
    <li class="animate-jump-in animate-once animate-ease-in-out animate-play animate-delay-150">
        <hr class="bg-secondary" />
        <div class="timeline-start timeline-box p-0"><input type="text" placeholder="iMac"
                class="input input-ghost text-right" style="field-sizing: content;" /></div>
        <div class="timeline-middle">
            <div class="btn btn-primary btn-sm">00:00</div>
        </div>
        <hr class="bg-primary" />
    </li>
    <li class="animate-jump-in animate-once animate-ease-in-out animate-play animate-delay-200">
        <hr class="bg-primary"/>
        <div class="timeline-middle">
            <div class="btn btn-secondary btn-sm">00:00</div>
        </div>
        <div class="timeline-end timeline-box p-0"><input type="text" placeholder="iMac"
                class="input input-ghost text-right" style="field-sizing: content;" /></div>
        <hr class="bg-secondary"/>
    </li>
    <li class="animate-jump-in animate-once animate-ease-in-out animate-play animate-delay-250">
        <hr class="bg-secondary"/>
        <div class="timeline-start timeline-box p-0"><input type="text" placeholder="iMac"
                class="input input-ghost text-right" style="field-sizing: content;" /></div>
        <div class="timeline-middle">
            <div class="btn btn-sm btn-primary">00:00:00</div>
        </div>
    </li>
</ul>